<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auntenticación</title>
    <link rel="stylesheet" href="css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
    </style>
</head>

<body>
    <main>
        <section>
            <div>
                <h1>Auntenticación</h1>
                <p id="msg">Aún no estas autenticado</p>
            </div>
            <div id="card-user" style="display: none;">
                <img id="img-user" alt="img-profile">
                <div id="dt-user">
                </div>
            </div>
            <div class="actions">
                <a href="/login" class="primary">Iniciar sesión</a>
                <a href="/register" class="secondary">Registrarme</a>
            </div>
            <div style="display: flex; flex-direction: column; gap: .5em;">
                <a id="users" style="display: none;" href="/users">Usuarios</a>
                <a id="logout" style="display: none;" href="/logout">Cerrar sesión</a>
            </div>
        </section>
    </main>

    <script>
        (function getAuth() {
            fetch('/user', {
                method: 'GET'
            }).then(res => res.json())
                .then(res => setHome(res.user))
        })()

        function setHome(data) {
            if (!data) return

            delete data.__v
            delete data.createdAt
            delete data.updatedAt
            if (data.photo) document.querySelector('#img-user').setAttribute('src', data.photo)
            if (data.photo) delete data.photo
            if (!data.provider) delete data.provider
            if (!data.providerId) delete data.providerId

            document.querySelector('.actions').remove()
            document.querySelector('#msg').remove()
            document.querySelector('#card-user').classList.add('card-user')

            let dtUser = document.querySelector('#dt-user')
            Object.keys(data).map(key => {
                let p = document.createElement('p')
                let label = document.createElement('label')
                p.innerText = key + ' '
                label.innerText = data[key]
                p.appendChild(label)
                dtUser.appendChild(p)
            })
            document.querySelector('#logout').setAttribute('style', 'inherit')
            document.querySelector('#users').setAttribute('style', 'inherit')
        }
    </script>

</body>

</html>