<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
    </style>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main>
        <section>
            <h1>Login</h1>
            <form action="/auth/login" method="post">
                <input type="text" name="username" id="username" placeholder="Email" required spellcheck="false">
                <input type="password" name="password" id="password" placeholder="Password" required spellcheck="false">
                <button class="primary" type="submit">Ingresar</button>
            </form>
            <div class="social-links">
                <a class="a-social" href="/auth/facebook"><img src="facebook-logo.png" alt="">
                    <p>Iniciar con Facebook</p>
                </a>
                <a class="a-social" href="/auth/facebook"><img src="google-logo.png" alt="">
                    <p>Iniciar con Google</p>
                </a>
                <a href="/">Inicio</a>
            </div>
        </section>
    </main>
</body>

</html>