<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
    </style>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main>
        <section style="min-width: 85%; padding: 2em 0;">
            <div>
                <h1>Usuarios</h1>
                <p id="msg">Aún no estas autenticado</p>
            </div>
            <div id="dt-users" style="display: none;">

                <div id="card-user" style="display: none;">
                    <img id="img-user" alt="img-profile">
                    <div id="dt-user">
                    </div>
                </div>

            </div>
            <a href="/">Inicio</a>
        </section>
    </main>

    <script>
        (function getAuth() {
            fetch('/auth/users', {
                method: 'GET'
            }).then(res => res.json())
                .then(res => {
                    console.log(res)
                    setUsers(res.users)
                })
        })()

        function setUsers(data) {
            if (!data) return

            let dtUsers = document.querySelector('#dt-users')
            dtUsers.setAttribute('style', 'display: grid;')

            document.querySelector('#msg').remove()

            data.map(user => {
                let card = document.createElement('div')
                card.classList.add('card-user')

                delete user.__v
                delete user.createdAt
                delete user.updatedAt
                if (user.photo) {
                    let imgProfile = document.createElement('img')
                    imgProfile.setAttribute('alt', 'profile-photo')
                    imgProfile.setAttribute('id', 'img-user')
                    imgProfile.setAttribute('src', user.photo)
                    card.appendChild(imgProfile)
                }
                if (user.photo) delete user.photo
                if (!user.provider) delete user.provider
                if (user.providerId) delete user.providerId

                let dtUser = document.createElement('div')
                dtUser.setAttribute('id', 'dt-user')

                Object.keys(user).map(key => {
                    let p = document.createElement('p')
                    let label = document.createElement('label')
                    p.innerText = key + ' '
                    label.innerText = user[key]
                    p.appendChild(label)
                    dtUser.appendChild(p)
                })
                card.appendChild(dtUser)
                dtUsers.appendChild(card)
            })
        }


    </script>

</body>

</html>